
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: #e6e2d6;
  scroll-behavior: smooth;
}

.content {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.arrow {
  transform: rotate(45deg);
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* NAV */
.nav {
  margin-right: 1rem;
  padding: 2rem;
  font-family: 'Poiret One', sans-serif;
  font-style: normal;
  font-size: 2rem;
  font-stretch: ultra-expanded;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  z-index: 1;
  color: black;

}

.nav-links a{
  color: black;
  text-decoration: none;
}

.name {
  margin-right: 2rem;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.name a:visited {
  color:black;
}

.nav-links a:visited {
  color: black;
}

.nav a:hover {
  color: #E85A4F;
  text-decoration: none;
}


/* INTRO */
.intro-container {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  /* padding: 2rem; */
  height: 100vh;
  width: 100vw;
  background-image: url(photos/mv-prof-pic-1.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
}

.intro-text {
  font-family: 'Poiret One', sans-serif;
  font-weight:bolder;
  align-items: center;
  justify-content:center;
  display: flex;
  flex-direction: column;
  color:black;
  background-color:#E98074;
  opacity: 70%;
  padding: 2rem;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

.profile-pic {
  width: 800px;
  height: auto;
  margin: 2rem;
}


/* ABOUT */
.about-container {
  width: 100vw;
  color: black;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.about-text {
  margin-left: 8rem;
  margin-right: 8rem;
  text-align: left;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

/* PORTFOLIO */
.portfolio-and-contact {
  background-image: url(photos/j_tree_cutout.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  width: 100vw;
}

.portfolio-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
  align-content: flex-end;
  justify-items: center;
}

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.project-container {
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1.2rem;
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAE7DC;
  color: #E85A4F;
}

.links a {
  color:#E85A4F;
  text-decoration: underline;
}

.links a:visited {
  color: #E85A4F;
}

.card-img {
  width: 60px;
  height: 60px;
  margin-bottom: .5rem;
}

/* BOTTOM/CONTACT */
.bottom {
  text-align: center;
  font-weight: bold;
  font-family: 'Poiret One', sans-serif;
  font-size: 2rem;
  font-stretch: ultra-expanded;
  color: white;
}

.mv-cutout {
  height: 500px;
  width:auto;
  margin-left: 3rem;
}

.bottom img {
  height: 50px;
  width: 50px;
  text-align: end;
  filter: invert(100%);
}

.bottom img:hover {
  opacity: 70%;
}

.github-logo {
  height: 70px;
  width: 70px;
}

.btn {
  background-color: #EAE7DC;
}

.btn:hover {
background-color: #E85A4F;
}

.btn {
  width: 150px;
  box-shadow: .05rem .05rem .1rem .05rem rgba(0,0,0,.8);
  color: #E98074;
}

/* SCROLL TOP ICON */
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: black;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 2rem;
  color: #fff;
  line-height: 0;
}

.bi {
  font-size: 2rem;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: #E85A4F;
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {

  html {
    font-size: 50%;
  }

  .project-container {
    padding: 1rem;
    margin: 1.5rem;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAE7DC;
    color: #E85A4F;
  }

  .btn {
    width: 70px;
    box-shadow: .05rem .05rem .1rem .05rem rgba(0,0,0,.8);
    color: #E98074;
  }

  .profile-pic {
    width: 300px;
    height: auto;
    margin: 2rem;
  }

  .mv-cutout {
    height: 200px;
    width:auto;
    margin-left: 3rem;
  }

  .card-img {
    width: 40px;
    height: 40px;
    margin-bottom: .5rem;
  }

  .bottom img {
    height: 30px;
    width: 30px;
    text-align: end;
    filter: invert(100%);
  }
}

@media only screen and (min-width: 601px) {
  html {
    font-size: 60%;
  }

  .project-container {
    padding: 1rem;
    margin: 1.5rem;
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAE7DC;
    color: #E85A4F;
  }

  .btn {
    width: 80px;
    box-shadow: .05rem .05rem .1rem .05rem rgba(0,0,0,.8);
    color: #E98074;
  }

  .profile-pic {
    width: 500px;
    height: auto;
    margin: 2rem;
  }

  .card-img {
    width: 50px;
    height: 50px;
    margin-bottom: .5rem;
  }

  .bottom img {
    height: 40px;
    width: 40px;
    text-align: end;
    filter: invert(100%);
  }

  .mv-cutout {
    height: 300px;
    width:auto;
    margin-left: 3rem;
  }
}


@media only screen and (min-width: 768px) {
  html {
    font-size: 75%;
  }

  .project-container {
    padding: 1rem;
    margin: 1.5rem;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAE7DC;
    color: #E85A4F;
  }

  .btn {
    width: 100px;
    box-shadow: .05rem .05rem .1rem .05rem rgba(0,0,0,.8);
    color: #E98074;
  }

  .profile-pic {
    width: 600px;
    height: auto;
    margin: 2rem;
  }

  .bottom img {
    height: 50px;
    width: 50px;
    text-align: end;
    filter: invert(100%);
  }

  .mv-cutout {
    height: 400px;
    width:auto;
    margin-left: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 100%;
  }

  .project-container {
    padding: 1rem;
    margin: 1.5rem;
    width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAE7DC;
    color: #E85A4F;
  }

  .btn {
    width: 150px;
    box-shadow: .05rem .05rem .1rem .05rem rgba(0,0,0,.8);
    color: #E98074;
  }

  .profile-pic {
    width: 700px;
    height: auto;
    margin: 2rem;
  }

  .card-img {
    width: 60px;
    height: 60px;
    margin-bottom: .5rem;
  }

  .mv-cutout {
    height: 500px;
    width:auto;
    margin-left: 3rem;
  }
}

